#include <windows.h>

IDI_ICON1 ICON "app.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEFLAGSMASK   0x3fL
#ifdef _DEBUG
FILEFLAGS       VS_FF_DEBUG
#else
FILEFLAGS       0x0L
#endif
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName",      "Madness Studio\0"
            VALUE "FileDescription",  "Codex Monitor Widget (CMW)\0"
            VALUE "FileVersion",      "1.0.0.0\0"
            VALUE "InternalName",     "codex_widget\0"
            VALUE "LegalCopyright",   "Copyright (C) 2026 Madness Studio. Developed by Ivan Klenov.\0"
            VALUE "OriginalFilename", "codex_widget.exe\0"
            VALUE "ProductName",      "Codex Monitor Widget (CMW)\0"
            VALUE "ProductVersion",   "1.0.0.0\0"
            VALUE "Comments",         "Developed by Ivan Klenov, Madness Studio\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
